@import "../../../sass/settings/color"
@import "../../../sass/tools/mixin"
@import "../../../sass/tools/media"

.registration__passport
  margin-top: 30px

  &--license
    margin-top: 20px


.passport
  &--license .passport__fields-line
    > *
      &:nth-child(2)
        flex-basis: calc(23% - 30px * 3 / 4)

      &:nth-child(3)
        flex-basis: calc(19% - 30px * 3 / 4)

.passport__fields-line
  > *
    &:nth-child(1)
      flex-basis: calc(28% - 30px * 3 / 4)

    &:nth-child(2)
      flex-basis: calc(19% - 30px * 3 / 4)

    &:nth-child(3)
      flex-basis: calc(23% - 30px * 3 / 4)

    &:nth-child(4)
      flex-basis: calc(30% - 30px * 3 / 4)

.passport__photo-line
  > *
    width: 134px
    flex: initial
    margin-right: 22px

.passport__number
  display: flex

  > *
    &:first-child
      width: calc(28% - 9px / 2)
      margin-right: 9px

    &:last-child
      width: calc(72% - 9px / 2)


.passport__photo-btn
  width: 300px
  margin-top: 21px

.passport__field--files
  display: flex

  > *
    margin-right: 22px
    flex: 1 1

    &:last-child
      margin-right: 0

