@import "../settings/color"
@import "../tools/mixin"
@import "../tools/media"

.registration__title
  @include fontSWCL(22px, bold, #000, 27px)
  border: 1px solid #FBFBFB
  text-transform: uppercase
  padding: 0 30px
  background-color: #FBFBFB
  border-radius: 10px
  box-sizing: border-box
  display: flex
  align-items: center
  min-height: 64px
  @include tabletSmall
    font-size: 16px
    line-height: 18px
    min-height: 50px
    padding: 0 15px
  @include mobile
    font-size: 14px
    line-height: 17px

.registration__has-error
  border: 1px solid crimson

.registration
  .input-wrap
    height: 47px

    &--get-code

.form-block
  display: block
  padding: 23px 30px 30px
  background-color: #FBFBFB
  border-radius: 10px
  box-sizing: border-box

.form-block__heading
  @include fontSWCL(16px, bold, #000, 20px)
  margin: 0

.form-block__fields
  margin-top: 23px

.form-block__fields-line
  display: flex
  //justify-content: space-between
  margin-top: 11px

  &:first-child
    margin-top: 0

.form-block__field
  width: calc(100% / 4 - 30px * 3 / 4)
  display: flex
  margin-right: 30px

  &:last-child
    margin-right: 0


