@import "../../sass/settings/color"
@import "../../sass/tools/mixin"
@import "../../sass/tools/media"

.checkout__cargo-items
  margin-top: 24px

.cargo-items__cargo-item
  margin-top: 14px

.cargo-item

.cargo-item__heading
  border: 1px solid #FBFBFB
  display: flex
  justify-content: space-between
  cursor: pointer
  @include fontSWCL(13px, 600, #000, 16px)
  &_active
    border: 1px solid $yellow

.cargo-item__plus
  position: relative
  &:before
    content: ''
    display: block
    width: 27px
    height: 3px
    background-color: #C4C4C4
  &:after
    content: ''
    display: block
    width: 27px
    height: 3px
    background-color: #C4C4C4
    transform: rotate(90deg)
    position: absolute
    top: 0
  &_active:after
    display: none

.cargo-item__body
  display: none
  &_active
    display: block

.cargo-item__body-item
  display: flex
  align-items: center
  height: 93px
  border-bottom: 1px solid #EEEEEE
  padding: 0 20px

.cargo-item__body-parameter
  margin-right: 20px
  &_first
    height: 64px
    background-color: #FBFBFB
    border-radius: 10px
    padding: 20px 19px
    box-sizing: border-box
    border: 1px solid #E6E6E6
    @include fontSWCL(16px, 600, #919191, 20px)

.cargo-item__body-parameter.input-label-wrap
  .input-label-wrap__input
    margin-top: 7px
  .input-label-wrap__label
    margin-left: 5px
  .input-wrap
    width: 85px
    height: 28px
    border-radius: 10px
    padding: 0
    &__input
      text-align: center

.cargo-item__edit
  margin-left: auto
  margin-right: 20px
  height: 30px
  width: 80px

.cargo-item__remove
  margin-left: auto
  border: none
  background: none
  outline: none
  cursor: pointer