@import "../../sass/settings/color"
@import "../../sass/tools/mixin"
@import "../../sass/tools/media"

.checkout__summary
  position: fixed
  bottom: 10px
  right: 20px
  z-index: 1001

.summary
  width: 326px
  max-height: 600px
  background-color: #fff
  box-sizing: border-box
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1)

.summary__wrap-heading
  border-top: 1px solid $yellow

.summary__show-button
  display: flex
  justify-content: center
  align-items: center
  height: 52px
  box-sizing: border-box
  cursor: pointer
  @include fontSWCL(12px, bold, #2E2E2E, 15px)

.summary__result-wrap
  display: flex
  height: 52px

.summary__result-button
  width: 50%
  display: flex
  justify-content: center
  align-items: center
  background-color: $yellow
  @include fontSWCL(13px, bold, #fff, 16px)

.summary__checkout-button
  width: 50%
  display: flex
  justify-content: center
  align-items: center
  background-color: #2E2E2E
  @include fontSWCL(13px, bold, #fff, 16px)
  cursor: pointer

.summary__payload
  padding: 0 21px
  margin: 29px 0
  overflow-y: scroll
  box-sizing: border-box
  max-height: 440px
  display: none
  &_active
    display: block

.summary__heading
  display: flex
  justify-content: space-between

.summary__print
  display: block
  @include fontSWCL(13px, normal, $yellow, 16px)
  cursor: pointer

.summary__save
  text-decoration: underline
  @include fontSWCL(13px, normal, #585858, 16px)
  cursor: pointer

.summary__items
  margin-top: 6px

.summary__item
  padding: 20px 0
  border-bottom: 1px solid #E2E2E2

.summary__item-heading
  @include fontSWCL(13px, bold, #585858, 16px)
  text-transform: uppercase
  &:nth-child(n+2)
    margin-top: 20px

.summary__item-desc
  @include fontSWCL(13px, normal, #585858, 16px)

.summary__price
  display: flex
  justify-content: space-between
  margin-top: 10px

.summary__price-name
  width: 70%
  @include fontSWCL(13px, normal, #585858, 16px)

.summary__price-value
  width: 25%
  @include fontSWCL(16px, bold, #585858, 16px)